# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml

tools/flatzinc/fzn-gecode

examples/*
!examples/*.cpp

*moc_*

cmake-build-debug/
cmake-build-release/
*.o

Makefile
config.log
config.status
doxygen.conf
gecode/support/config.hpp
libgecodedriver.so
libgecodedriver.so.43
libgecodedriver.so.43.0
libgecodeflatzinc.so
libgecodeflatzinc.so.43
libgecodeflatzinc.so.43.0
libgecodefloat.so
libgecodefloat.so.43
libgecodefloat.so.43.0
libgecodegist.so
libgecodegist.so.43
libgecodegist.so.43.0
libgecodeint.so
libgecodeint.so.43
libgecodeint.so.43.0
libgecodekernel.so
libgecodekernel.so.43
libgecodekernel.so.43.0
libgecodeminimodel.so
libgecodeminimodel.so.43
libgecodeminimodel.so.43.0
libgecodesearch.so
libgecodesearch.so.43
libgecodesearch.so.43.0
libgecodeset.so
libgecodeset.so.43
libgecodeset.so.43.0
libgecodesupport.so
libgecodesupport.so.43
libgecodesupport.so.43.0
tools/flatzinc/mzn-gecode

