# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml

tools/flatzinc/fzn-gecode

examples/*
!examples/*.cpp

*moc_*

cmake-build-debug/
cmake-build-release/
*.o

Makefile
config.log
config.status
doxygen.conf
gecode/support/config.hpp
libgecode*.so*
tools/flatzinc/mzn-gecode

